.outer-form {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 32px 0 15px ;
  
}

.form-section {  
  padding: 0 90px;
  display: grid;
  justify-items: center;
  row-gap: 42px;
}

.button-wrapper {
  margin-top: 24px;
  padding: 0 10px;
}

.already-sign-up {
  text-align: center;
  padding: 24px 0 16px;
  border-top: 1px solid #E5E8EB;
  margin: 28px 28px 0;
}

.already-sign-up span {
  color: #F76448;
}

@media screen and (max-width: 780px) {

  .outer-form {
    padding: 24px 0 5px;
  }
  
  .form-section {
    padding: 0;
    row-gap: 66px;
  }

  form {
    padding: 0 15px;
  }
  .button-wrapper {
    padding: 0;
  }

  .logo-wrapper img {
    width: 202px;
    height: 32px;
  }

  .already-sign-up {
    margin: 16px 16px 0;
  }
}

@media screen and (max-width: 510px) {
  form {
    max-width: 340px;
  }
}
